<% layout ('layout') %>

<form class="signup" role="form" method="post" action="/newtask">
	  <div class="form-group">
	    <label for="title">Task</label>
	    <input type="title" class="form-control" name="title" placeholder="Title of Task">
	  </div>

	  <button type="submit" class="btn btn-lg btn-primary login">Submit New Task</button>
</form>