<!DOCTYPE html>
<html>
<head>
	<title>TinyBucket</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">

  			<%- body %>

 		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  			<div class="container">
		   			<p class="footer">Copyright (c) TinyBucket 2014 | <a href="/contact" class="margin-top-20">Contact</a></p>
 		  </div>
		</nav>
	</div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/contact.js"></script>

</body>
</html>